In [1]:
import pandas as pd

# Membaca file excel pada sheet_name pemakaian_mesin
df = pd.read_excel("soal.xlsx", "pemakaian_mesin")
df

,Mesin,Ruangan,Mulai,Selesai,Tanggal Mulai,Jam Mulai,Tanggal Selesai,Jam Selesai
0,A-016,D3-12,2021-07-01 10:12:00,2021-07-02 00:12:00,2021-07-01,10:12:00,2021-07-02,00:12:00
1,WA-003,D3-12,2021-07-01 06:00:00,2021-07-02 07:19:00,2021-07-01,06:00:00,2021-07-02,07:19:00
2,OV-034,D3-12,2021-07-01 06:00:00,2021-07-02 06:00:00,2021-07-01,06:00:00,2021-07-02,06:00:00
3,OV-034,D3-12,2021-07-02 06:00:00,2021-07-03 06:00:00,2021-07-02,06:00:00,2021-07-03,06:00:00
4,A-016,D3-12,2021-07-02 07:38:00,2021-07-02 21:22:00,2021-07-02,07:38:00,2021-07-02,21:22:00
...,...,...,...,...,...,...,...,...
1469,OV-008 Ka,L1-53,2021-07-31 10:15:00,2021-08-01 06:15:00,2021-07-31,10:15:00,2021-08-01,06:15:00
1470,OV-044,L1-64,2021-07-31 02:15:00,2021-07-31 04:45:00,2021-07-31,02:15:00,2021-07-31,04:45:00
1471,OV-008 Ka,L1-53,2021-07-30 06:30:00,2021-07-31 01:45:00,2021-07-30,06:30:00,2021-07-31,01:45:00
1472,OV-007 Ki,L1-53,2021-07-30 13:15:00,2021-07-30 15:30:00,2021-07-30,13:15:00,2021-07-30,15:30:00
1473,A-026,L1-43,2021-07-31 06:32:00,2021-08-01 05:12:00,2021-07-31,06:32:00,2021-08-01,05:12:00

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Mesin            1474 non-null   object
 1   Ruangan          1474 non-null   object
 2   Mulai            1474 non-null   datetime64[ns]
 3   Selesai          1474 non-null   datetime64[ns]
 4   Tanggal Mulai    1474 non-null   datetime64[ns]
 5   Jam Mulai        1474 non-null   object
 6   Tanggal Selesai  1474 non-null   datetime64[ns]
 7   Jam Selesai      1474 non-null   object
dtypes: datetime64[ns](4), object(4)
memory usage: 92.2+ KB

In [3]:
# Menambahkan kolom Durasi kerja mesin yang menunjukkan lama waktu mesin bekerja
df['Durasi Kerja Mesin'] = df['Selesai'] - df['Mulai']
df

,Mesin,Ruangan,Mulai,Selesai,Tanggal Mulai,Jam Mulai,Tanggal Selesai,Jam Selesai,Durasi Kerja Mesin
0,A-016,D3-12,2021-07-01 10:12:00,2021-07-02 00:12:00,2021-07-01,10:12:00,2021-07-02,00:12:00,0 days 14:00:00
1,WA-003,D3-12,2021-07-01 06:00:00,2021-07-02 07:19:00,2021-07-01,06:00:00,2021-07-02,07:19:00,1 days 01:19:00
2,OV-034,D3-12,2021-07-01 06:00:00,2021-07-02 06:00:00,2021-07-01,06:00:00,2021-07-02,06:00:00,1 days 00:00:00
3,OV-034,D3-12,2021-07-02 06:00:00,2021-07-03 06:00:00,2021-07-02,06:00:00,2021-07-03,06:00:00,1 days 00:00:00
4,A-016,D3-12,2021-07-02 07:38:00,2021-07-02 21:22:00,2021-07-02,07:38:00,2021-07-02,21:22:00,0 days 13:44:00
...,...,...,...,...,...,...,...,...,...
1469,OV-008 Ka,L1-53,2021-07-31 10:15:00,2021-08-01 06:15:00,2021-07-31,10:15:00,2021-08-01,06:15:00,0 days 20:00:00
1470,OV-044,L1-64,2021-07-31 02:15:00,2021-07-31 04:45:00,2021-07-31,02:15:00,2021-07-31,04:45:00,0 days 02:30:00
1471,OV-008 Ka,L1-53,2021-07-30 06:30:00,2021-07-31 01:45:00,2021-07-30,06:30:00,2021-07-31,01:45:00,0 days 19:15:00
1472,OV-007 Ki,L1-53,2021-07-30 13:15:00,2021-07-30 15:30:00,2021-07-30,13:15:00,2021-07-30,15:30:00,0 days 02:15:00
1473,A-026,L1-43,2021-07-31 06:32:00,2021-08-01 05:12:00,2021-07-31,06:32:00,2021-08-01,05:12:00,0 days 22:40:00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1474 entries, 0 to 1473
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Mesin               1474 non-null   object
 1   Ruangan             1474 non-null   object
 2   Mulai               1474 non-null   datetime64[ns]
 3   Selesai             1474 non-null   datetime64[ns]
 4   Tanggal Mulai       1474 non-null   datetime64[ns]
 5   Jam Mulai           1474 non-null   object
 6   Tanggal Selesai     1474 non-null   datetime64[ns]
 7   Jam Selesai         1474 non-null   object
 8   Durasi Kerja Mesin  1474 non-null   timedelta64[ns]
dtypes: datetime64[ns](4), object(4), timedelta64[ns](1)
memory usage: 103.8+ KB

In [5]:
from datetime import timedelta

In [6]:
# Memeriksa apakah ada mesin yang bekerja lebih dari 1 hari
df[df['Selesai']-df['Mulai'] > timedelta(days=1)]

,Mesin,Ruangan,Mulai,Selesai,Tanggal Mulai,Jam Mulai,Tanggal Selesai,Jam Selesai,Durasi Kerja Mesin
1,WA-003,D3-12,2021-07-01 06:00:00,2021-07-02 07:19:00,2021-07-01,06:00:00,2021-07-02,07:19:00,1 days 01:19:00
35,OV-033,D3-12,2021-07-09 06:59:00,2021-07-10 08:02:00,2021-07-09,06:59:00,2021-07-10,08:02:00,1 days 01:03:00
48,OV-033,D3-12,2021-07-13 06:25:00,2021-07-14 06:30:00,2021-07-13,06:25:00,2021-07-14,06:30:00,1 days 00:05:00
56,OV-033,D3-12,2021-07-15 07:00:00,2021-07-16 13:35:00,2021-07-15,07:00:00,2021-07-16,13:35:00,1 days 06:35:00
721,FI-002,D3-27,2021-07-01 06:00:00,2021-07-02 06:15:00,2021-07-01,06:00:00,2021-07-02,06:15:00,1 days 00:15:00
754,A-015,D3-34,2021-07-05 06:30:00,2021-07-06 06:51:00,2021-07-05,06:30:00,2021-07-06,06:51:00,1 days 00:21:00
762,CV-006,D3-29,2021-07-03 06:15:00,2021-07-04 06:20:00,2021-07-03,06:15:00,2021-07-04,06:20:00,1 days 00:05:00
763,CV-001,D3-36,2021-07-03 06:15:00,2021-07-04 06:20:00,2021-07-03,06:15:00,2021-07-04,06:20:00,1 days 00:05:00
771,CS-003,D3-28,2021-07-06 06:00:00,2021-07-07 06:15:00,2021-07-06,06:00:00,2021-07-07,06:15:00,1 days 00:15:00
784,FI-002,D3-27,2021-07-07 06:00:00,2021-07-08 06:15:00,2021-07-07,06:00:00,2021-07-08,06:15:00,1 days 00:15:00
787,CV-006,D3-29,2021-07-07 06:00:00,2021-07-08 06:20:00,2021-07-07,06:00:00,2021-07-08,06:20:00,1 days 00:20:00
813,CS-003,D3-28,2021-07-08 06:15:00,2021-07-09 06:20:00,2021-07-08,06:15:00,2021-07-09,06:20:00,1 days 00:05:00
822,A-014,D3-34,2021-07-11 06:01:00,2021-07-12 06:51:00,2021-07-11,06:01:00,2021-07-12,06:51:00,1 days 00:50:00
840,ML-019,D3-20,2021-07-11 07:55:00,2021-07-12 08:25:00,2021-07-11,07:55:00,2021-07-12,08:25:00,1 days 00:30:00
844,CV-006,D3-29,2021-07-12 06:00:00,2021-07-13 06:15:00,2021-07-12,06:00:00,2021-07-13,06:15:00,1 days 00:15:00
857,A-015,D3-34,2021-07-14 06:10:00,2021-07-15 06:41:00,2021-07-14,06:10:00,2021-07-15,06:41:00,1 days 00:31:00
894,A-015,D3-34,2021-07-15 06:47:00,2021-07-16 06:52:00,2021-07-15,06:47:00,2021-07-16,06:52:00,1 days 00:05:00
932,OV-032 KA,D3-13,2021-07-17 05:30:00,2021-07-18 06:20:00,2021-07-17,05:30:00,2021-07-18,06:20:00,1 days 00:50:00
987,CV-006,D3-29,2021-07-22 06:15:00,2021-07-23 06:20:00,2021-07-22,06:15:00,2021-07-23,06:20:00,1 days 00:05:00
989,CV-001,D3-36,2021-07-22 06:15:00,2021-07-23 06:20:00,2021-07-22,06:15:00,2021-07-23,06:20:00,1 days 00:05:00
1004,FV-004,D3-26,2021-07-23 06:00:00,2021-07-24 06:15:00,2021-07-23,06:00:00,2021-07-24,06:15:00,1 days 00:15:00
1012,FA-004,D3-24,2021-07-25 06:05:00,2021-07-26 06:15:00,2021-07-25,06:05:00,2021-07-26,06:15:00,1 days 00:10:00
1025,CV-006,D3-29,2021-07-25 06:15:00,2021-07-26 06:20:00,2021-07-25,06:15:00,2021-07-26,06:20:00,1 days 00:05:00
1028,CS-003,D3-28,2021-07-23 06:05:00,2021-07-24 06:15:00,2021-07-23,06:05:00,2021-07-24,06:15:00,1 days 00:10:00
1055,A-014,D3-34,2021-07-27 06:46:00,2021-07-28 06:48:00,2021-07-27,06:46:00,2021-07-28,06:48:00,1 days 00:02:00
1062,FA-004,D3-24,2021-07-28 06:05:00,2021-07-29 06:15:00,2021-07-28,06:05:00,2021-07-29,06:15:00,1 days 00:10:00
1129,A-025,L1-31,2021-07-06 06:54:00,2021-07-07 07:12:00,2021-07-06,06:54:00,2021-07-07,07:12:00,1 days 00:18:00
1236,CV-014,L1-62,2021-07-11 06:00:00,2021-07-12 06:15:00,2021-07-11,06:00:00,2021-07-12,06:15:00,1 days 00:15:00
1245,A-023,L1-04,2021-07-12 06:21:00,2021-07-13 06:42:00,2021-07-12,06:21:00,2021-07-13,06:42:00,1 days 00:21:00
1312,A-024,L1-18,2021-07-21 06:16:00,2021-07-22 06:24:00,2021-07-21,06:16:00,2021-07-22,06:24:00,1 days 00:08:00
1342,A-026,L1-43,2021-07-21 06:20:00,2021-07-22 07:50:00,2021-07-21,06:20:00,2021-07-22,07:50:00,1 days 01:30:00
1344,FV011,L1-50,2021-07-21 06:10:00,2021-07-22 06:15:00,2021-07-21,06:10:00,2021-07-22,06:15:00,1 days 00:05:00
1348,FA-005,L1-25,2021-07-22 06:00:00,2021-07-23 06:15:00,2021-07-22,06:00:00,2021-07-23,06:15:00,1 days 00:15:00
1374,CV-011,L1-51,2021-07-26 06:00:00,2021-07-27 06:15:00,2021-07-26,06:00:00,2021-07-27,06:15:00,1 days 00:15:00
1389,WV-013,L1-45,2021-07-26 06:00:00,2021-07-27 06:09:00,2021-07-26,06:00:00,2021-07-27,06:09:00,1 days 00:09:00
1445,A-028,L1-80,2021-07-28 07:25:00,2021-07-29 07:33:00,2021-07-28,07:25:00,2021-07-29,07:33:00,1 days 00:08:00
1458,WV-013,L1-45,2021-07-30 06:00:00,2021-07-31 06:09:00,2021-07-30,06:00:00,2021-07-31,06:09:00,1 days 00:09:00
1460,A-028,L1-80,2021-07-31 06:25:00,2021-08-01 08:02:00,2021-07-31,06:25:00,2021-08-01,08:02:00,1 days 01:37:00

Dari tabel di atas diperoleh informasi bahwa terdapat mesin yang bekerja lebih dari satu hari dan semuanya sudah pasti masuk ke shift 1 pada tanggal mesin mulai bekerja dan shift 1 pada tanggal selanjutnya. Karena terdapat mesin yang bekerja lebih dari satu hari, maka dalam pembagian shift harus diperiksa apakah mesin tersebut bekerja lebih dari satu hari. Jika mesin bekerja lebih dari satu hari, maka mesin tersebut akan masuk ke shift 1 di hari selanjutnya.

In [8]:
tanggal_shift = []
for i in range(len(df)):
    # Mendapatkan waktu mulai kerja mesin
    waktu_mulai = df.loc[i]['Mulai'] - df.loc[i]['Tanggal Mulai']
    # Memeriksa apakah mesin mulai bekerja pada shift 1
    total_durasi = timedelta(0)
    if (waktu_mulai >= timedelta(hours=6) and waktu_mulai < timedelta(hours=14)):
        durasi = timedelta(hours=14) - waktu_mulai if df.loc[i]['Durasi Kerja Mesin'] + waktu_mulai > timedelta(hours=14) else (df.loc[i]['Durasi Kerja Mesin'])
        total_durasi += durasi
        tanggal_shift.append([df.loc[i]['Mesin'], df.loc[i]['Ruangan'], df.loc[i]['Tanggal Mulai'].date(), 1, durasi])
        
        # Pengecekan apakah masuk shift 2
        if (df.loc[i]['Durasi Kerja Mesin'] + waktu_mulai > timedelta(hours=14)):
            durasi = timedelta(hours=8) if df.loc[i]['Durasi Kerja Mesin'] - total_durasi > timedelta(hours=8) else (df.loc[i]['Durasi Kerja Mesin'] - total_durasi)
            total_durasi += durasi
            tanggal_shift.append([df.loc[i]['Mesin'], df.loc[i]['Ruangan'], df.loc[i]['Tanggal Mulai'].date(), 2, durasi])

        # Pengecekan apakah masuk shift 3
        if (df.loc[i]['Durasi Kerja Mesin'] + waktu_mulai > timedelta(hours=22)):
            durasi = timedelta(hours=8) if df.loc[i]['Durasi Kerja Mesin'] - total_durasi > timedelta(hours=8) else (df.loc[i]['Durasi Kerja Mesin'] - total_durasi)
            total_durasi += durasi
            tanggal_shift.append([df.loc[i]['Mesin'], df.loc[i]['Ruangan'], df.loc[i]['Tanggal Mulai'].date(), 3, durasi])
        
        # Pengecekan apakah masuk ke shift 1 di hari selanjutnya
        if (df.loc[i]['Durasi Kerja Mesin'] + waktu_mulai > timedelta(days=1, hours=6)):
            tanggal_shift.append([df.loc[i]['Mesin'], df.loc[i]['Ruangan'], df.loc[i]['Tanggal Selesai'].date(), 1, df.loc[i]['Durasi Kerja Mesin'] - total_durasi])
        
    # Memeriksa apakah mesin mulai bekerja pada shift 2 
    elif (waktu_mulai >= timedelta(hours=14) and waktu_mulai < timedelta(hours=22)):
        durasi = timedelta(hours=22) - waktu_mulai if df.loc[i]['Durasi Kerja Mesin'] + waktu_mulai > timedelta(hours=22) else (df.loc[i]['Durasi Kerja Mesin'])
        total_durasi += durasi
        tanggal_shift.append([df.loc[i]['Mesin'], df.loc[i]['Ruangan'], df.loc[i]['Tanggal Mulai'].date(), 2, durasi])
        # Pengecekan apakah masuk shift 3
        if (df.loc[i]['Durasi Kerja Mesin'] + waktu_mulai > timedelta(hours=22)):
            durasi = timedelta(hours=8) if df.loc[i]['Durasi Kerja Mesin'] - total_durasi > timedelta(hours=8) else df.loc[i]['Durasi Kerja Mesin'] - total_durasi
            total_durasi += durasi
            tanggal_shift.append([df.loc[i]['Mesin'], df.loc[i]['Ruangan'], df.loc[i]['Tanggal Mulai'].date(), 3, durasi])
            if (durasi > timedelta(hours=8)):
                print(durasi, '1')
        if (df.loc[i]['Durasi Kerja Mesin'] + waktu_mulai > timedelta(days=1, hours=6)):
            tanggal_shift.append([df.loc[i]['Mesin'], df.loc[i]['Ruangan'], df.loc[i]['Tanggal Selesai'].date(), 1, df.loc[i]['Durasi Kerja Mesin'] - total_durasi])

    else: # Jika waktu mesin mulai bekerja bukan pada shift 1 dan 2, maka pasti masuk shift 3
        if (waktu_mulai >= timedelta(hours=22) and waktu_mulai <= timedelta(hours=23, minutes=59, seconds=59)):
            durasi = timedelta(days=1, hours=6) - waktu_mulai if df.loc[i]['Durasi Kerja Mesin'] + waktu_mulai > timedelta(days=1, hours=6) else (df.loc[i]['Durasi Kerja Mesin'])
        else:
            durasi = timedelta(hours=6) - waktu_mulai if df.loc[i]['Durasi Kerja Mesin'] + waktu_mulai > timedelta(hours=6) else (df.loc[i]['Durasi Kerja Mesin'])

        total_durasi += durasi
        tanggal_shift.append([df.loc[i]['Mesin'], df.loc[i]['Ruangan'], df.loc[i]['Tanggal Mulai'].date(), 3, durasi])
        
        shift = 1
        if (df['Tanggal Mulai'][i] == df['Tanggal Selesai'][i]):
            while (df.loc[i]['Durasi Kerja Mesin'] - total_durasi > timedelta(hours=8)):
                tanggal_shift.append([df.loc[i]['Mesin'], df.loc[i]['Ruangan'], df.loc[i]['Tanggal Mulai'].date(), shift, 8])
                shift += 1
                total_durasi += timedelta(hours=8)
            if (df.loc[i]['Durasi Kerja Mesin'] - total_durasi > timedelta(0)):
                tanggal_shift.append([df.loc[i]['Mesin'], df.loc[i]['Ruangan'], df.loc[i]['Tanggal Mulai'].date(), shift, df.loc[i]['Durasi Kerja Mesin'] - total_durasi])
        else:
            while (df.loc[i]['Durasi Kerja Mesin'] - total_durasi > timedelta(hours=8)):
                tanggal_shift.append([df.loc[i]['Mesin'], df.loc[i]['Ruangan'], df.loc[i]['Tanggal Mulai'].date(), shift, timedelta(hours=8)])
                shift += 1
                total_durasi += timedelta(hours=8)
            if (df.loc[i]['Durasi Kerja Mesin'] - total_durasi > timedelta(0)):
                tanggal_shift.append([df.loc[i]['Mesin'], df.loc[i]['Ruangan'], df.loc[i]['Tanggal Selesai'].date(), 1, df.loc[i]['Durasi Kerja Mesin'] - total_durasi])

In [9]:
# Melihat panjang data
len(tanggal_shift)

3756

In [10]:
# Membuat dataframe dari data tanggal_shift
df_tanggal_shift = pd.DataFrame(data=tanggal_shift, columns=['Mesin', 'Ruangan', 'Tanggal', 'Shift', 'Durasi'])
df_tanggal_shift

          Mesin Ruangan     Tanggal  Shift          Durasi
0         A-016   D3-12  2021-07-01      1 0 days 03:48:00
1         A-016   D3-12  2021-07-01      2 0 days 08:00:00
2         A-016   D3-12  2021-07-01      3 0 days 02:12:00
3        WA-003   D3-12  2021-07-01      1 0 days 08:00:00
4        WA-003   D3-12  2021-07-01      2 0 days 08:00:00
...         ...     ...         ...    ...             ...
3751  OV-007 Ki   L1-53  2021-07-30      1 0 days 00:45:00
3752  OV-007 Ki   L1-53  2021-07-30      2 0 days 01:30:00
3753      A-026   L1-43  2021-07-31      1 0 days 07:28:00
3754      A-026   L1-43  2021-07-31      2 0 days 08:00:00
3755      A-026   L1-43  2021-07-31      3 0 days 07:12:00

[3756 rows x 5 columns]

In [11]:
# Mengubah format durasi menjadi integer yang menunjukkan lamanya waktu operasi mesin dalam menit pada shift tersebut
df_tanggal_shift['Durasi (menit)'] = df_tanggal_shift['Durasi'].apply(lambda x: round(float(x.seconds) / 60.0))
df_tanggal_shift.drop(['Durasi'], axis=1)
df_tanggal_shift

          Mesin Ruangan     Tanggal  Shift          Durasi  Durasi (menit)
0         A-016   D3-12  2021-07-01      1 0 days 03:48:00             228
1         A-016   D3-12  2021-07-01      2 0 days 08:00:00             480
2         A-016   D3-12  2021-07-01      3 0 days 02:12:00             132
3        WA-003   D3-12  2021-07-01      1 0 days 08:00:00             480
4        WA-003   D3-12  2021-07-01      2 0 days 08:00:00             480
...         ...     ...         ...    ...             ...             ...
3751  OV-007 Ki   L1-53  2021-07-30      1 0 days 00:45:00              45
3752  OV-007 Ki   L1-53  2021-07-30      2 0 days 01:30:00              90
3753      A-026   L1-43  2021-07-31      1 0 days 07:28:00             448
3754      A-026   L1-43  2021-07-31      2 0 days 08:00:00             480
3755      A-026   L1-43  2021-07-31      3 0 days 07:12:00             432

[3756 rows x 6 columns]

In [12]:
# Save dataframe ke excel
df_tanggal_shift.to_excel("Shift.xlsx", index=False)